:root {
	--black: #323232;
	--active-tab: rgba(0, 0, 0, 0.87);
	--disable: #0000008a;
	--f-one-white: #F1F1F1;
	--very-light: rgba(216, 216, 216, 0.5);
}

body {
	margin: 0;
}

h1,
h2 {
	font-family: 'Inter UI';
}

.user-id,
.total-coin,
.card > li h3,
.card > li h4,
.none-list,
p {
	font-family: 'SpoqaHanSans';
	font-weight: normal;
}

h1 {
	margin-top: 19px;
	font-size: 36px;
	font-weight: bold;
}

h1, .user-id, .total-coin {
	margin-left: 26px;
	color: var(--black)
}


.user-id {
	margin-top: 20px;
	font-size: 8px;
}

.total-coin {
	font-size: 24px;
}

ul {
	list-style-type: none;
	padding: 0
}

.card li {
	height: 140px;
	margin: 0 28px 16px;
	padding-left: 16px;
	opacity: 0.92;
	box-shadow: 0 1px 4px 0 #00000080;
	background-size: cover;
	border-radius: 0.5em;
	position: relative;
	background-position-y: bottom -1.5em;
	color: var(--f-one-white);
}

.card.places > li {
	cursor: pointer;
}

.tasks {
	letter-spacing: 0.1px;
}

.tasks li {
	background-color: rgb(137, 137, 137);
}

.tasks h2 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 9px;
}

.tasks .img {
	width: 80px;
	height: 80px;
	background-size: contain;
}

.tasks p {
	margin-left: 112px;
	margin-right: 16px;
	font-size: 8px;
	font-weight: 400;
}

.detail {
	margin-top: 44px;
}

.tags {
	bottom: 8px;
}

.coin li {
	cursor: unset;
}

.card li > * {
	position: absolute;
}

.card > li h2 {
	margin-bottom: 0;
	bottom: 16px;
}

.card.coin > li h3{
	margin-top: 16px;
	margin-bottom: 5px;
	font-size: 12px;
}

.card.coin > li h4 {
	margin: 0;
	font-size: 24px;
}

ul.tabs {
	display: flex;
	font-family: 'Libre Franklin';
	box-shadow: 0 10px 12px -8px #0000006e;
}

.tabs li {
	display: inline-block;
	width: 50%;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1.3px;
	padding: 16px;
	text-align: center;
	box-sizing: border-box;
	color: var(--black);
	cursor: pointer;
}

.tabs li.active {
	border-bottom: 2.5px solid var(--active-tab);
	cursor: unset;
}

.none-list {
	text-align: center;
}

.none-list > .mdil {
	font-size: 36px;
	color: var(--disable);
}

.bar {
	width: 100%;
	height: 8px;
	background-color: var(--very-light);
	margin-bottom: 14px;
}

.timeline {
	color: var(--black)
}

div.timeline > .bar {
	margin-top: 20px;
}

.nfc {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	position: fixed;
	bottom: 60px;
	background-color: var(--f-one-white);
	/* border: solid 1px; */
	display: flex;
	justify-content: center;
	align-content: center;
	/* margin: 0 auto; */
}

.bottom-app-bar {
	color: var(--black);
	display: flex;
	position: fixed;
	bottom: 0;
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
	width: 100%;
	height: 56px;
	background-color: var(--f-one-white);
	box-shadow: 0 1px 3px 0 #00000033, 0 2px 1px -1px #0000001e, 0 1px 1px 0 #00000023;
}

.mdil {
	margin: 16px auto;
	font-size: 24px;
	-webkit-text-stroke: .7px var(--black);
	color: var(--disable);
	cursor: pointer;
}

.mdil-active {
	color: var(--black);
	cursor: unset;
}
